<!-- <h1 style="text-align:center;font-family:courier; color: white; ">Covid-19 Visualizer</h1> -->
<div *ngIf="isWorldMapVisible">
  <div class="details">
    <h4 class="country_region"></h4>
    <h4 class="confirmed"></h4>
    <h4 class="deaths"></h4>
    <h4 class="recovered"></h4>
  </div>
  <!-- <div class="container">
    <div class="row">
      <div class="col-md-4 offset-md-8">
        <button (click)="toggleSpeechRecognition()">click for voice search</button><span><small> ( just say a country's name )</small></span>
        <p></p>
      </div>
    </div>
  </div> -->
  <!-- <router-outlet></router-outlet> -->
</div>
<router-outlet></router-outlet>
