<div *ngIf="isWorldMapVisible">
  <div class="details" style="height: 200px; background-color: #00a4e4; top: 50px;">
    <h4 class="country_region" style="color: black;"></h4>
    <h4 class="confirmed" style="color: black;"></h4>
    <h4 class="deaths" style="color: black;"></h4>
    <h4 class="recovered" style="color: black;"></h4>
  </div>
  <!-- <div class="container">
    <div class="row">
      <div class="col-md-4 offset-md-8">
        <button (click)="toggleSpeechRecognition()">click for voice search</button><span><small> ( just say a country's name )</small></span>
        <p></p>
      </div>
    </div>
  </div> -->
  <!-- <router-outlet></router-outlet> -->
</div>
<router-outlet></router-outlet>
